exportPattern("^[[:alpha:]]+")
importFrom(stats, contr.poly, contr.sum, contr.treatment, lm, na.omit, terms, aggregate, as.formula,
           coef, model.frame, model.matrix, reshape, formula, predict, quantile, residuals,
               rnorm, update, kmeans, logLik, pchisq, symnum, AIC, deviance, df.residual)
importFrom(ggplot2, ggplot, aes, geom_point, geom_line, geom_hline, theme_minimal, scale_x_continuous,
           scale_y_continuous, scale_color_manual, position_dodge, scale_linetype, geom_bar, scale_fill_manual,
           geom_errorbar)
importFrom(tidyr, pivot_longer, pivot_wider)

import(dplyr, scales)
